<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= title %></title>
	</head>
	<body>
		<div>
			<div>
				<h1>Pick your page</h1>
				<hr>
				<a href="/jsonforecast">Forecast JSON output</a><br>
				<a href="/forecast">Weather Forecast</a>
			</div>
		</div>
	</body>
</html>
